# Configurações do Banco de Dados
DATABASE_URL=postgresql+psycopg://locplus_admin:locplus_senha_segura@localhost:5432/locplus_db

# Armazenamento S3 (MinIO)
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_senha_segura
MINIO_BUCKET_NAME=locplus-vistorias